In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
le = LabelEncoder()

In [3]:
email = pd.read_csv("email_spam.csv")

In [4]:
email = email.drop(columns = "title")

In [5]:
email.duplicated().sum()

np.int64(1)

In [6]:
email = email.drop_duplicates()

In [7]:
email.isnull().sum()

text    0
type    0
dtype: int64

In [8]:
email.duplicated().sum()

np.int64(0)

In [9]:
email.rename(columns = {"type" : "label"},inplace = True)

In [10]:
email["label"] = le.fit_transform(email["label"])

In [11]:
email

                                                 text  label
0   Hi James,\n\nHave you claim your complimentary...      1
1   \nalt_text\nCongratulations, you just earned\n...      0
2   Here's your GitHub launch code, @Mortyj420!\n ...      0
3   Hello,\n \nThank you for contacting the Virtua...      0
4   Hey Prachanda Rawal,\n\nToday's newsletter is ...      1
..                                                ...    ...
79  Dear Maryam, \n\n \n\nI would like to thank yo...      0
80  Dear Customer,\n\nWelcome to Kilimall, Thanks ...      0
81  Dear vladis163rus,\nHere is the Steam Guard co...      0
82  View In Browser | Log in\n \n \n\nSkrill logo\...      0
83  You've received a gift!\nSign in to your Bard ...      0

[83 rows x 2 columns]

In [12]:
e1 = pd.read_csv("completeSpamAssassin.csv")

In [13]:
e1

      Unnamed: 0                                               Body  Label
0              0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1              1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2              2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3              3  ##############################################...      1
4              4  I thought you might like these:\n1) Slim Down ...      1
...          ...                                                ...    ...
6041        6041                                              empty      0
6042        6042                    ___           ___           ...      0
6043        6043  IN THIS ISSUE:01. Readers write\n02. Extension...      0
6044        6044                                              empty      0
6045        6045                                              empty      0

[6046 rows x 3 columns]

In [14]:
e1 = e1.drop(columns = "Unnamed: 0")

In [15]:
e1.isnull().sum()

Body     1
Label    0
dtype: int64

In [16]:
e1.dropna(inplace = True)

In [17]:
e1.isnull().sum()

Body     0
Label    0
dtype: int64

In [18]:
e1.duplicated().sum()

np.int64(752)

In [19]:
e1 = e1.drop_duplicates()

In [20]:
e1

                                                   Body  Label
0     \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1     1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2     1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3     ##############################################...      1
4     I thought you might like these:\n1) Slim Down ...      1
...                                                 ...    ...
6033  ----------------------------------------------...      0
6034  EFFector       Vol. 15, No. 35       November ...      0
6039  \nWe have extended our Free seat sale until Th...      0
6042                    ___           ___           ...      0
6043  IN THIS ISSUE:01. Readers write\n02. Extension...      0

[5293 rows x 2 columns]

In [21]:
e1.rename(columns = {"Body" : "text","Label" : "label"},inplace = True)

In [22]:
e1

                                                   text  label
0     \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1     1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2     1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3     ##############################################...      1
4     I thought you might like these:\n1) Slim Down ...      1
...                                                 ...    ...
6033  ----------------------------------------------...      0
6034  EFFector       Vol. 15, No. 35       November ...      0
6039  \nWe have extended our Free seat sale until Th...      0
6042                    ___           ___           ...      0
6043  IN THIS ISSUE:01. Readers write\n02. Extension...      0

[5293 rows x 2 columns]

In [23]:
df1 = pd.read_csv("spam.csv")

In [24]:
df1

                                                    sms  label
0     Go until jurong point, crazy.. Available only ...      0
1                       Ok lar... Joking wif u oni...\n      0
2     Free entry in 2 a wkly comp to win FA Cup fina...      1
3     U dun say so early hor... U c already then say...      0
4     Nah I don't think he goes to usf, he lives aro...      0
...                                                 ...    ...
5569  This is the 2nd time we have tried 2 contact u...      1
5570             Will Ã¼ b going to esplanade fr home?\n      0
5571  Pity, * was in mood for that. So...any other s...      0
5572  The guy did some bitching but I acted like i'd...      0
5573                       Rofl. Its true to its name\n      0

[5574 rows x 2 columns]

In [25]:
df1.rename(columns = {"sms" : "text"},inplace = True)

In [26]:
df1

                                                   text  label
0     Go until jurong point, crazy.. Available only ...      0
1                       Ok lar... Joking wif u oni...\n      0
2     Free entry in 2 a wkly comp to win FA Cup fina...      1
3     U dun say so early hor... U c already then say...      0
4     Nah I don't think he goes to usf, he lives aro...      0
...                                                 ...    ...
5569  This is the 2nd time we have tried 2 contact u...      1
5570             Will Ã¼ b going to esplanade fr home?\n      0
5571  Pity, * was in mood for that. So...any other s...      0
5572  The guy did some bitching but I acted like i'd...      0
5573                       Rofl. Its true to its name\n      0

[5574 rows x 2 columns]

In [27]:
df1.isnull().sum()

text     0
label    0
dtype: int64

In [28]:
df1.duplicated().sum()

np.int64(403)

In [30]:
df1 = df1.drop_duplicates()

In [31]:
df1.duplicated().sum()

np.int64(0)

In [32]:
df1.head()

                                                text  label
0  Go until jurong point, crazy.. Available only ...      0
1                    Ok lar... Joking wif u oni...\n      0
2  Free entry in 2 a wkly comp to win FA Cup fina...      1
3  U dun say so early hor... U c already then say...      0
4  Nah I don't think he goes to usf, he lives aro...      0

In [33]:
df = pd.concat([df1,email],ignore_index = True)

In [35]:
df

                                                   text  label
0     Go until jurong point, crazy.. Available only ...      0
1                       Ok lar... Joking wif u oni...\n      0
2     Free entry in 2 a wkly comp to win FA Cup fina...      1
3     U dun say so early hor... U c already then say...      0
4     Nah I don't think he goes to usf, he lives aro...      0
...                                                 ...    ...
5249  Dear Maryam, \n\n \n\nI would like to thank yo...      0
5250  Dear Customer,\n\nWelcome to Kilimall, Thanks ...      0
5251  Dear vladis163rus,\nHere is the Steam Guard co...      0
5252  View In Browser | Log in\n \n \n\nSkrill logo\...      0
5253  You've received a gift!\nSign in to your Bard ...      0

[5254 rows x 2 columns]

In [36]:
df = pd.concat([df,e1],ignore_index = True)

In [37]:
df

                                                    text  label
0      Go until jurong point, crazy.. Available only ...      0
1                        Ok lar... Joking wif u oni...\n      0
2      Free entry in 2 a wkly comp to win FA Cup fina...      1
3      U dun say so early hor... U c already then say...      0
4      Nah I don't think he goes to usf, he lives aro...      0
...                                                  ...    ...
10542  ----------------------------------------------...      0
10543  EFFector       Vol. 15, No. 35       November ...      0
10544  \nWe have extended our Free seat sale until Th...      0
10545                    ___           ___           ...      0
10546  IN THIS ISSUE:01. Readers write\n02. Extension...      0

[10547 rows x 2 columns]

In [38]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Bindaas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [39]:
def text_transformer(text):
    text = text.lower()
    text = nltk.word_tokenize(text)

    y = []
    for i in text:
        if i.isalnum():
            y.append(i)
    
    text = y[:]
    y.clear()
    
    for i in text:
        if i not in stopwords.words("english"):
            y.append(i)

    text = y[:]
    y.clear()
    
    for i in text:
        y.append(ps.stem(i))

    return " ".join(y)

In [41]:
df["transformed_text"] = df["text"].apply(text_transformer)

In [42]:
df

,text,label,transformed_text
0,"Go until jurong point, crazy.. Available only ...",0,go jurong point crazi avail bugi n great world...
1,Ok lar... Joking wif u oni...\n,0,ok lar joke wif u oni
2,Free entry in 2 a wkly comp to win FA Cup fina...,1,free entri 2 wkli comp win fa cup final tkt 21...
3,U dun say so early hor... U c already then say...,0,u dun say earli hor u c alreadi say
4,"Nah I don't think he goes to usf, he lives aro...",0,nah think goe usf live around though
...,...,...,...
10542,----------------------------------------------...,0,isilo tm palm os pocket pc window enter beta1 ...
10543,"EFFector Vol. 15, No. 35 November ...",0,effector vol 15 35 novemb 8 2002 ren public el...
10544,\nWe have extended our Free seat sale until Th...,0,extend free seat sale thursday 21st novemb det...
10545,___ ___ ...,0,insignific matter heavili overemphasis hugh mt...
10546,IN THIS ISSUE:01. Readers write\n02. Extension...,0,reader write extens search dumb messag revisit...

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [204]:
tfidf = TfidfVectorizer(max_features = 40000)

X = tfidf.fit_transform(df["transformed_text"]).toarray()

X.shape

y = df["label"]

y.shape

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 2)

X_train.shape

y_train.shape

from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,precision_score

mnb = MultinomialNB()

mnb.fit(X_train,y_train)

y_pred = mnb.predict(X_test)

In [205]:
print(f"Accuracy_Score: {accuracy_score(y_test,y_pred)}")
print(f"Precision_Score: {precision_score(y_test,y_pred)}")

Accuracy_Score: 0.8890995260663507
Precision_Score: 1.0

In [206]:
import pickle
pickle.dump(tfidf,open("tfidf.pkl","wb"))
pickle.dump(mnb,open("mnb.pkl","wb"))